{% extends 'base.html' %}


{% block body %}
    <form method = "post">
        {% csrf_token %}
        <h2>Obiady:</h2>
   
    <div class="btn-group-vertical" data-toggle="buttons">
        {% for days in dinner_dates%}
        <label class="btn btn-outline-secondary">
            <input type="checkbox" name = "date" autocomplete="off" value = {{ days }}> {{ days }}
        </label>
        {% endfor %}
    </div>
        <div class="btn-group-vertical" data-toggle="buttons">
         {% for days in dinner_dates%}
        <label class="btn btn-outline-primary">
            <input type="checkbox" autocomplete="off" name = "isVege" value = "{{ days }}"> Danie wegetariańskie        </label>
        {% endfor %}
        </div>

        {{ form_dinner.as_p }}

        <h2>Noclegi: </h2>
 
        <div class="btn-group-vertical" data-toggle="buttons">
        {% for days in hostel_dates%}
        <label class="btn btn-outline-secondary">
            <input type="checkbox" name = "hostel_date" autocomplete="off" value = {{ days }}> {{ days }}
        </label>
        {% endfor %}
    </div>
        
<br>
<div class = "col-8">
       <button type = "submit" class="btn btn-dark float-xl-right">Zatwierdź</button>
</div>
    </form>

{% endblock %}

